html, body {
	margin:0px; 
	background-color:#EEEEEE;
	font-family: Tahoma;
	height: 100%;
	width: 100%;
}

section {
	padding: 10px;
	padding-right: 0px;
}

header {
	background-color:#228855; 
	color:white; 
	width:100%; 
	margin: 0px; 
	min-height:20px;
}

#mainsection, #sidebar, #wholesection {
	float: left;
	height: 100%;
}

#mainsection {
	width: calc(100% - 410px);
}

#wholesection {
	width: 100%;
}

#sidebar {
	max-width: 410px;
}

header a{
	color:white;
	text-decoration: none;
	margin-right: 10px;
	height:20px;
	display: inline-block;
	padding: 10px;

}
header a.options{
	float:right;
}
header a:hover{
	color:white;
	text-decoration: none;
	background-color: #339966;
}

.players-table, div.container {
	background-color: white;
	border-width: 1px;
	border-color: #DDDDDD;
	border-style: solid;
	padding: 5px;
	margin: 0px 10px 10px 0px; /* Bottom and right margins */
}

.players-table {
	width: 400px;
}

div.container {
	max-width: 100%;
}

img {
	max-width: 100%;
}

.signin-form {
	background-image: url("../images/0f00e3e818b461fb559a78f48ccbe285.gif");
	background-position: center;
	background-size: cover;
	height: calc(100vh - 40px);
	margin-left: -10px;
	margin-top: -10px;

}
.signin-form form{
	position: absolute;
	margin-left: 15%;
	margin-top: 30vh;

}

form input, form select{
	border-width: 1px;
	border-color: #DDDDDD;
	border-style: solid;
	height: 30px;
	font-size: 1.1em;
	font-family: Tahoma;
	border-radius: 3px;
}

.signin-form form input {
	width: 300px;
}
form input[type=submit]{
	background-color: #228855;
	color: white;
	border: none;
	font-size: 1em;
}

.signin-form input[type=submit], .signin-form input[type=button]{
	border: none;
	width: 302px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #228855;
	color: black;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	list-style: none;
	margin: 0px;
	padding-left: 20px;
}

.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown-content a{
	float:right;
	margin: 0px;
	min-width: 120px;
	color: black;
	background-color: white;
	border-width: 2px;
	border-color: #DDDDDD;
}
.dropdown-content a:hover{
	background-color: #EEEEEE;
	color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.link-hash {
	width: calc(10% - 5px);
	text-align: center;
}
.link-controls, .link-date {
	width: calc(5% - 5px);
	text-align: right;
	font-size: 1em;
}
.link-name {
	width: calc(30% - 5px);
	line-height: 100%;
}
.link-link {
	width: calc(50% - 5px);
}
.link-thumb {
	width:100%;
	padding-top: 2px;
}
.link-container{
	display: block;
	text-align: left;
	padding: 0px;
	width: 100%;
}
#links div {
	display: inline-block;
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
	border-style: dotted;
	border-width: 0px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
	margin-top: 2px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

.link-controls i {
    float: right;
    padding-left: 5px;
}

.fa-calendar {
 	cursor: pointer;
 }

i.fa.fa-times{
	color: red;
}