html, body {
	margin:0px; 
	background-color:#EEEEEE;
	font-family: Tahoma;
	height: 100%;
	width: 100%;
}



header {
	background-color:#228855; 
	color:white; 
	width:100%; 
	margin: 0px; 
	min-height:20px;
}

#mainsection, #sidebar {
	float: left;
	height: 100%;
}

#mainsection {
	margin-right: 10px;
	width: calc(100% - 420px);
}

#sidebar {
	max-width: 410px;
}

header a{
	color:white;
	text-decoration: none;
	margin-right: 10px;
	height:20px;
	display: inline-block;
	padding: 10px;

}
header a.options{
	float:right;
}
header a:hover{
	color:white;
	text-decoration: none;

	background-color: #339966;
}

.players-table, div.container {
	background-color: white;
	border-width: 1px;
	border-color: #DDDDDD;
	border-style: solid;
	padding: 5px;
	margin: 10px 0px 0px 10px; /* Top and left margins */
	
}

.players-table {
	width: 400px;
}

div.container {
	max-width: 100%;
}

img {
	max-width: 100%;
}

.signin-form {
	background-image: url("../images/0f00e3e818b461fb559a78f48ccbe285.gif");
	background-position: center;
	background-size: cover;
	height: calc(100vh - 40px);

}
.signin-form form{
	position: absolute;
	margin-left: 15%;
	margin-top: 30vh;

}

form input, form select{
	height: 30px;
	font-size: 1.1em;
	font-family: Tahoma;
	border: none;
	border-radius: 3px;
}

.signin-form form input {
	width: 300px;
}
.signin-form form input[type=submit]{
	background-color: #228855;
	color: white;
	font-size: 1em;
}


.dropdown-content {
	display: none;
	position: absolute;
	background-color: #228855;
	color: black;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	list-style: none;
	margin: 0px;
	padding-left: 20px;
}

.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown-content a{
	float:right;
	margin: 0px;
	min-width: 100px;
	color: black;
	background-color: white;
	border-width: 2px;
	border-color: #DDDDDD;
}
.dropdown-content a:hover{
	background-color: #EEEEEE;
	color: black;
}