html, body {
	margin:0px; 
	background-color:#EEEEEE;
	font-family: Tahoma;
	height: 100%;
	width: 100%;
}



header {
	background-color:#228855; 
	color:white; 
	width:100%; 
	margin: 0px; 
	min-height:20px;
}

#mainsection, #sidebar {
	float: left;
	height: 100%;
}

#mainsection {
	margin-right: 10px;
	width: calc(100% - 420px);
}

#sidebar {
	max-width: 410px;
}

header a{
	color:white;
	text-decoration: none;
	margin-right: 20px;
	height:20px;
	display: inline-block;
	padding: 10px;

}
header a.options{
	float:right;
}
header a:hover{
	color:white;
	text-decoration: none;
	margin-right: 20px;
	background-color: #339966;
}

.players-table, div.container {
	background-color: white;
	border-width: 1px;
	border-color: #DDDDDD;
	border-style: solid;
	padding: 5px;
	margin: 10px 0px 0px 10px; /* Top and left margins */
	
}

.players-table {
	width: 400px;
}

div.container {
	max-width: 100%;
}

img {
	max-width: 100%;
}